@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --colour-dark: #121213;
  --colour-dark-grey: #3a3a3c;
  --colour-light-grey: #818384;
  --colour-white: #f1f1f1;
  --colour-yellow: #b59f3b;
  --colour-green: #538d4e;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: var(--colour-dark);
  color: var(--colour-white);
}

header {
  padding: .5rem;
  border-bottom: 1px solid var(--colour-dark-grey);
  text-align: center;
}

a, a:visited {
  color: var(--colour-white);
}

.game-container {
  text-align: center;
  margin: 1rem 0;
}

.game-over {
  margin-bottom: 1rem;
}

.game-over-btn {
  background: var(--colour-green);
  padding: .3rem .5rem;
  color: var(--colour-white);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: .5rem;
}

.tile-row {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.tile {
  min-width: 53px;
  min-height: 53px;
  border: 2px solid var(--colour-dark-grey);
  margin: .25rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: .5rem;
}

.correct {
  background: var(--colour-green) !important;
  border: none;
}

.position {
  background: var(--colour-yellow) !important;
  border: none;
}

.incorrect {
  background: var(--colour-dark-grey) !important;
  border: none;
}

.keyboard {
  margin: 1rem 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-input {
  background: var(--colour-dark);
  border: none;
  outline: none;
  color: var(--colour-dark);
}

.letter {
  background: var(--colour-light-grey);
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin: .25rem;
  border-radius: 5px;
  cursor: pointer;
}

.alert {
  padding: 1rem;
  margin: .5rem auto;
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
}

.alert-error {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
}

.alert-warning {
  color: #383d41;
  background-color: #e2e3e5;
}

@media (max-width:600px)  { 
  /* Decrease keyboard size on tablet or smaller. */
  .letter {
    padding: .5rem;
    font-size: .9rem;
  }
}